{% if collection.sort_by == 'best-selling' %}
<br><br><center><h4>TECLE F5 CONTINUAMENTE 159 VEZES QUE IRÁ FUNCIONAR<br><br></h4></center>
{% else %}
{% section 'collection-template' %}
{% section 'static-promotion-list' %}
{% section 'static-recently-viewed-products' %}
{% endif %}